{% include create-button-with-link.html %}

<script>
  var id2 = "button-with-link2";
  var backgroundColor2 = 'rgb(153, 255, 153)';
  var cornerOffset2 = 20;
  var textColor2 = 'rgb(25, 25, 25)';
  var zIndex2 = 1;

  createButtonWithLink({
    diameter: 56,
    id: id2,
    backgroundColor: backgroundColor2,
    innerHTML: 'Feedback ❓',
    link: './pages/feedback',
    css: "#" + id2 + "{background:" + backgroundColor2 + ";-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;bottom:" + (cornerOffset2 + 50) + "px;-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);box-shadow:0 2px 5px 0 rgba(0,0,0,.26);color:" + textColor2 + ";cursor:pointer;display:block;height:auto;width:200px;padding:10px;opacity:1;outline:0;position:fixed;right:" + cornerOffset2 + "px;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-transition:bottom .2s,opacity .2s;-o-transition:bottom .2s,opacity .2s;-moz-transition:bottom .2s,opacity .2s;transition:bottom .2s,opacity .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:" + zIndex2 + "}",
    textColor: textColor2
  })
</script>